<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxz.dao.user.AsUserMapper">

	<select id="findAsUser" resultType="AsUser" parameterType="AsUser">
		select au.*,ar.roleName roleName from as_user au
		INNER JOIN as_role ar ON au.roleId=ar.id
		where userCode='admin' and userPassword='123456' and au.isStart=1;
	</select>

</mapper>
