<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxz.dao.user.AsUserMapper">

	<select id="findAsUser" resultType="AsUser" parameterType="AsUser">
		select au.*,ar.roleName roleName from as_user au
		INNER JOIN as_role ar ON au.roleId=ar.id
		where userCode=#{userCode} and userPassword=#{userPassword} and au.isStart=1;
	</select>
	
	<update id="updateAsUser" parameterType="AsUser">
		UPDATE `as_user` 
		<trim prefix="set" suffixOverrides="," suffix="WHERE `id` = #{id}">
			<if test="userCode != null ">`userCode` = #{userCode}, </if>
			<if test="userName != null ">`userName` = #{userName}, </if>
			<if test="userPassword != null ">`userPassword` = #{userPassword}, </if>
			<if test="lastLoginTime != null ">`lastLoginTime` = #{lastLoginTime}, </if>
			<if test="lastUpdateTime != null ">`lastUpdateTime` = #{lastUpdateTime}, </if>
			<if test="isStart != null ">`isStart` = #{isStart}, </if>
			<if test="roleId != null ">`roleId` = #{roleId}</if>
		</trim>
	</update>

</mapper>
