<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxz.dao.accountdetail.AsAccountdetailMapper">

	<select id="getAsAccountdetailCount" resultType="int" parameterType="AccountCondition">
		select count(1) from as_accountdetail
		<where>
			<if test="id !=null">userId=#{id}</if>
			<if test="detailType !=null">and detailType = #{detailType}</if>
			<if test="startTime !=null">and detailDateTime &gt; #{startTime}</if>
			<if test="endTime !=null">and detailDateTime &lt; #{endTime}</if>
		</where>
	</select>

	<select id="findAsAccountdetailList" resultType="AsAccountdetail">
		select * from as_accountdetail
		<where>
			<if test="accountCondition.id !=null">userId=#{accountCondition.id}</if>
			<if test="accountCondition.detailType !=null">and detailType = #{accountCondition.detailType}</if>
			<if test="accountCondition.startTime !=null">and detailDateTime &gt; #{accountCondition.startTime}</if>
			<if test="accountCondition.endTime !=null">and detailDateTime &lt; #{accountCondition.endTime}</if>
		</where>
		 limit #{pageIndex},#{pageSize}
	</select>
	
	<insert id="addAsAccountdetail" parameterType="AsAccountdetail">
		INSERT INTO `as_accountdetail`(`userId`, `detailType`, `detailTypeName`, 
		`money`, `accountMoney`, `memo`, `detailDateTime`) 
		VALUES (#{userId}, #{detailType}, #{detailTypeName}, #{money},
		 #{accountMoney}, #{memo}, #{detailDateTime});
	</insert>
	
	<update id="updateAsAccountdetail" parameterType="AsAccountdetail">
		UPDATE `as_accountdetail` 
		<trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
			<if test="detailType !=null">`detailType` = #{detailType},</if>
			<if test="detailTypeName !=null">`detailTypeName` = #{detailTypeName},</if>
			<if test="memo !=null">`memo` = #{memo},</if>
		</trim>
	</update>
	
	<delete id="deleteAsAccountdetail" parameterType="AsAccountdetail">
		<if test="id !=null">
			delete from as_accountdetail where id=#{id}
		</if>
		<if test="uesrId !=null">
			delete from as_accountdetail where userId=#{userId}
		</if>
	</delete>

</mapper>
