<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxz.dao.keyword.AsKeywordsMapper">
	
	<select id="findAsKeywords" parameterType="int" resultType="AsKeywords">
		select ak.*,ay.configTypeName serviceName from as_keywords ak 
		join as_systemconfig ay on ak.productType=ay.configTypeValue
		where ak.id=#{id} and ay.configType=2
	</select>

	<select id="findAsKeywordsList" resultType="AsKeywords">
		select *from as_keywords 
		<where>
			<if test="keyword.agentId !=null">and agentId=#{keyword.agentId}</if>
			<if test="keyword.keywords !=null">and keywords like concat('%',#{keyword.keywords},'%')</if>
		</where>
		ORDER BY preRegDatetime desc,preRegPassDatetime 
		limit #{pageIndex},#{pageSize}
	</select>
	
	<select id="getAsKeywordsCount" parameterType="AsKeywords" resultType="int">
		select count(1) from as_keywords
		<where>
			<if test="agentId !=null">and agentId=#{agentId}</if>
			<if test="keywords !=null">and keywords like concat('%',#{keywords},'%')</if>
		</where>
	</select>

	<insert id="addAsKeywords" parameterType="AsKeywords">
		INSERT INTO `as_keywords`( `keywords`, `agentId`, `agentName`, `customId`, `customName`,
		`preRegFrozenMoney`, `price`, `productType`, `serviceYears`,`openApp`, `appUserName`,
		`appPassword`, `loginUrl`, `iosDownloadUrl`, `androidDownloadUrl`, `codeIosUrl`, 
		`codeAndroidUrl`, `preRegDatetime`, `preRegPassDatetime`, `regDatetime`, 
		`regPassDatetime`, `isPass`, `checkStatus`, `isUse`) 
		VALUES (
		#{keywords}, #{agentId}, #{agentName}, #{customId}, #{customName}, 
		#{preRegFrozenMoney},#{price}, #{productType}, #{serviceYears}, #{openApp}, #{appUserName}, 
		#{appPassword}, #{loginUrl}, #{iosDownloadUrl}, #{androidDownloadUrl},#{codeIosUrl},
		#{codeAndroidUrl},#{preRegDatetime}, #{preRegPassDatetime}, #{regDatetime},
		#{regPassDatetime}, #{isPass}, #{checkStatus}, #{isUse});
	</insert>
	
	<update id="updateAsKeywords" parameterType="AsKeywords">
		UPDATE `as_keywords` 
		<trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
			<if test="productType !=null">`productType` = #{productType}, </if>
			<if test="openApp !=null">`openApp` = #{openApp}, </if>
			<if test="appUserName !=null">`appUserName` = #{appUserName}, </if>
			<if test="appPassword !=null">`appPassword` = #{appPassword}, </if>
			<if test="loginUrl !=null">`loginUrl` = #{loginUrl}, </if>
			<if test="iosDownloadUrl !=null">`iosDownloadUrl` = #{iosDownloadUrl}, </if>
			<if test="androidDownloadUrl !=null">`androidDownloadUrl` = #{androidDownloadUrl}, </if>
			<if test="codeIosUrl !=null">`codeIosUrl` = #{codeIosUrl}, </if>
			<if test="codeAndroidUrl !=null">`codeAndroidUrl` = #{codeAndroidUrl}, </if>
			<if test="preRegDatetime !=null">`preRegDatetime` = #{preRegDatetime}, </if>
			<if test="preRegPassDatetime !=null">`preRegPassDatetime` = #{preRegPassDatetime}, </if>
			<if test="regDatetime !=null">`regDatetime` = #{regDatetime}, </if>
			<if test="regPassDatetime !=null">`regPassDatetime` = #{regPassDatetime}, </if>
			<if test="isPass !=null">`isPass` = #{isPass}, </if>
			<if test="checkStatus !=null">`checkStatus` = #{checkStatus}, </if>
			<if test="isUse !=null">`isUse` = #{isUse} </if>
		</trim>
	</update>
	
</mapper>
