<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxz.dao.menu.AsRolePremissionMapper">

	<select id="findRoleFunctionList" resultType="AsFunction">
		select af.* from as_role_premission  arp
		RIGHT JOIN as_function af on arp.functionId =af.id
		where af.parentId=#{parentId} 
		<if test="roleId !=null"> and arp.roleId=#{roleId}</if>
		
	</select>

	<!-- <resultMap type="AsRolePremission" id="AsRolePremissionMap">
		<id property="id" column="id"/>
		<collection property="function" ofType="AsFunction">
			<id property="id" column="af_id"/>
			<result property="creationTime" column="af_createTime"/>
			<result property="createdBy" column="af_createdBy"/>
			<result property="lastUpdateTime" column="af_lastUpdateTime"/>
			<result property="isStart" column="af_isStart"/>
		</collection>
	</resultMap>

	<select id="findRoleFunctionList" resultMap="AsRolePremissionMap">
		select arp.*,af.id af_id,af.functionCode,af.functionName,af.creationTime af_createTime,
		af.createdBy af_createdBy,af.lastUpdateTime af_lastUpdateTime,af.funcUrl,af.isStart af_isStart,
		af.parentId  from as_role_premission  arp
		LEFT JOIN as_function af on arp.functionId =af.id
		where af.parentId=#{parentId} and arp.roleId=#{roleId}
	</select> -->
	
</mapper>
